#sel_box {
display: none;
position: absolute;
border: 1px solid #000000;
background: transparent;
width: 0;
height: 0;
}

.extent {
stroke: #fff;
fill-opacity: .125;
fill: blue;
shape-rendering: crispEdges;
}

body {
background-color:black;
font-family:helvetica;
font-size:12px;
}

.fileTitle {

}

.menu_panel {
background-color:grey;
position: absolute;
padding: 5px;
}

.menu_subpanel {
display: inline-block;
margin-right: 50px;
}

.menu {
/*position: absolute;*/
}

button.menu {
width: 50px;
height: 30px;
margin: 0px;
padding: 0px;
}

.svg {
position: absolute;
left:0px;
top:0px;
}

.cmenu {
margin: 0;
list-style-type: none;
}

#context_menu div:hover {
cursor:pointer;
background-color:#ADD8E6;
}
