body {
background-color:black;
font-family:helvetica;
font-size:12px;
}

html, body {

width: 100%;
height: 100%;

margin: 0px;
padding: 0px;
}

#main {
height: 100%;
padding-top: 0px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#main_panel {
width: 100%;
height: 100%;
}

#svg_wrapper {
display: block;
width: 100%;
height: 100%;

padding-left: 5px;
padding-top: 5px;
padding-right: 15px;
padding-bottom: 15px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;

overflow: hidden;
}

#svg_inner_wrapper {
width: 100%;
height: 100%;
}

.svg {
width: 100%;
height: 100%;
}

#scroll_wrapper {
position: absolute;
left: 0px;
top:0px;

width: 100%;
height: 100%;

padding: 80px 5px 5px 5px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;

z-index: -100;
}

.scroll_inner_wrapper {
position: relative;

width: 100%;
height: 100%;
}

.scroll_thumbtrack {
position: relative;

width: 100%;
height: 100%;

background-color: #F0F0F0;
}

.scroll_thumb {
position: absolute;

top: 0px;
left: 0px;

width: 100%;
height: 100%;

background-color: #B0B0B0;
}

.scroll_thumb:hover {
background-color: #808080;
}

#hscroll_wrapper {
position: absolute;

width: 100%;
height: 10px;

left: 0px;
bottom: 5px;

padding-left: 15px;
padding-right: 25px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#hscroll_container {
position: absolute;

right: 0px;
bottom: 0px;

width: 85%;
height: 10px;

z-index: 500;
}

#hscroll_thumbtrack_wrapper {
width: 100%;
height: 100%;

padding: 0px 10px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#hscroll_left {
position: absolute;

left: 0px;
top: 0px;

background-image: url('../images/left.png');

width: 10px;
height: 10px;
}

#hscroll_left:hover {
background-image: url('../images/left_rollover.png');
}

#hscroll_right {
position: absolute;

right: 0px;
bottom: 0px;

background-image: url('../images/right.png');

width: 10px;
height: 10px;
}

#hscroll_right:hover {
background-image: url('../images/right_rollover.png');
}

#vscroll_wrapper {
position: absolute;

width: 10px;
height: 100%;

top: 0px;
right: 5px;

padding-top: 14px;
padding-bottom: 64px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#vscroll_container {
position: absolute;

right: 0px;
bottom: 0px;

width: 10px;
height: 100%;

z-index: 500;
}

#vscroll_thumbtrack_wrapper {
width: 100%;
height: 100%;

padding: 10px 0px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#vscroll_up {
position: absolute;

left: 0px;
top: 0px;

background-image: url('../images/up.png');

width: 10px;
height: 10px;
}

#vscroll_up:hover {
background-image: url('../images/up_rollover.png');
}

#vscroll_down {
position: absolute;

right: 0px;
bottom: 0px;

background-image: url('../images/down.png');

width: 10px;
height: 10px;
}

#vscroll_down:hover {
background-image: url('../images/down_rollover.png');
}

text {
	pointer-events: none;
}

#button_wrapper {
position: absolute;

bottom: 15px;
width: 15%;
height: 30px;

text-align: center;
vertical-align: middle;
}

#unhide_button {
display: none;	/* Initially Hidden */

height: 20px;
margin: 5px 0px;
}

rect.op_rect.type_insert {
fill: #0a760a;
}

rect.op_rect.type_insert:hover {
fill: #11cc11;
}

rect.op_rect.type_delete {
fill: #ec1313;
}

rect.op_rect.type_delete:hover {
fill: #ff6666;
}

rect.op_rect.type_replace {
fill: #1313ec;
}

rect.op_rect.type_replace:hover {
fill: #6666ff;
}

rect.op_rect.type_diff_insert {
fill: #4d764d;
}

rect.op_rect.type_diff_delete {
fill: #ec9999;
}

rect.op_rect.type_add_field {
fill: yellowgreen;
}

rect.op_rect.type_change_field {
fill: lightskyblue;
}

rect.op_rect.type_delete_field {
fill: pink;
}

rect.op_rect.type_add_method {
fill: yellowgreen;
}

rect.op_rect.type_change_method {
fill: lightskyblue;
}

rect.op_rect.type_delete_method {
fill: pink;
}

rect.op_rect.type_add_class {
fill: yellowgreen;
}

rect.op_rect.type_change_class {
fill: lightskyblue;
}

rect.op_rect.type_delete_class {
fill: pink;
}

rect.op_rect.type_add_import_statement {
fill: yellowgreen;
}

rect.op_rect.type_delete_import_statement {
fill: pink;
}

rect.op_rect.type_non_code_change {
fill: grey;
}

rect.op_rect.type_mixed {
fill: slateblue;
}

rect.op_rect.type_unknown {
fill: grey;
}

rect#range_selection_box {
fill: royalblue;
fill-opacity: 0.3;
}

rect#range_selection_box:hover {
fill: #316eff;
fill-opacity: 0.5;
}

#marker_line {
stroke: orange;
}

#marker_line:hover {
stroke: #ffb733;
}

#marker_upper_triangle {
fill: orange;
}

#marker_upper_triangle:hover {
fill: #ffb733;
}

div.code {
display: block;
margin: 0px;
padding: 0px;
}

div.code_deletion {
background-color: lightpink;
}

div.code_insertion {
background-color: lightgreen;
}

div#level_buttons_wrapper .level_button {
width: 10px;
height: 10px;
background-color: grey;
position: absolute;

bottom: 5px;
}

#level_button1 {
left: 10px;
}

#level_button2 {
left: 30px;
}

#level_button3 {
left: 50px;
}

#level_button4 {
left: 70px;
}

.highlight_rect {
fill: none;
stroke: yellow;
stroke-width: 3;

vector-effect: non-scaling-stroke;
}

.partial_highlight {
stroke-dasharray: 5 3;
}