#sel_box {
display: none;
position: absolute;
border: 1px solid #000000;
background: transparent;
width: 0;
height: 0;
}

.extent {
stroke: #fff;
fill-opacity: .125;
fill: blue;
shape-rendering: crispEdges;
}

body {
background-color:black;
font-family:helvetica;
font-size:12px;
margin: 0px;
}

html, body {
height: 100%;
}

.file_title {

}

.menu_panel {
background-color:grey;
padding: 5px;
width: 100%;
height: 75px;
margin-top: -75px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

.menu_subpanel {
display: inline-block;
vertical-align: top;
margin-right: 50px;
}

.menu_debugpanel {
display: inline-block;
float: right;
}

#main {
height: 100%;
padding-top: 75px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#main_panel {
width: 100%;
height: 100%;
}

#svg_wrapper {
display: block;
width: 100%;
height: 100%;
padding-right: 30px;
padding-bottom: 30px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#svg {
/*padding: 15px 5px 30px 5px;*/

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

button.menu {
width: 50px;
height: 30px;
margin: 0px;
padding: 0px;
}

.cmenu {
margin: 0;
list-style-type: none;
}

#context_menu {
z-index: 10000;
background-color: white;
border: 2px solid #FFA500;
display: none;
position: absolute;
height:150;
}

#context_menu div:hover {
cursor:pointer;
background-color:#ADD8E6;
}

.context_menu_item {
font-size: 14px;
padding: 3px;
}

.disabled {
color: gray;
}
