#sel_box {
display: none;
position: absolute;
border: 1px solid #000000;
background: transparent;
width: 0;
height: 0;
}

.extent {
stroke: #fff;
fill-opacity: .125;
fill: blue;
shape-rendering: crispEdges;
}

body {
background-color:black;
font-family:helvetica;
font-size:12px;
}

html, body {

width: 100%;
height: 100%;

margin: 0px;
padding: 0px;
}

.file_title {

}

.menu_panel {
background-color:grey;
padding: 5px;
width: 100%;
height: 75px;
margin-top: -75px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

.menu_subpanel {
display: inline-block;
vertical-align: top;
margin-right: 50px;
}

.menu_debugpanel {
display: inline-block;
float: right;
}

#main {
height: 100%;
padding-top: 75px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#main_panel {
width: 100%;
height: 100%;
}

#svg_wrapper {
display: block;
width: 100%;
height: 100%;

padding-left: 5px;
padding-top: 5px;
padding-right: 15px;
padding-bottom: 15px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;

overflow: hidden;
}

#svg_inner_wrapper {
width: 100%;
height: 100%;
}

button.menu {
width: 50px;
height: 30px;
margin: 0px;
padding: 0px;
}

.cmenu {
margin: 0;
list-style-type: none;
}

#context_menu {
z-index: 10000;
background-color: white;
border: 2px solid #FFA500;
display: none;
position: absolute;
height:150;
}

#context_menu div:hover {
cursor:pointer;
background-color:#ADD8E6;
}

.context_menu_item {
font-size: 14px;
padding: 3px;
}

.disabled {
color: gray;
}

#scroll_wrapper {
position: absolute;
left: 0px;
top:0px;

width: 100%;
height: 100%;

padding: 80px 5px 5px 5px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;

z-index: -100;
}

.scroll_inner_wrapper {
position: relative;

width: 100%;
height: 100%;
}

.scroll_thumbtrack {
position: relative;

width: 100%;
height: 100%;

background-color: #F0F0F0;
}

.scroll_thumb {
position: absolute;

top: 0px;
left: 0px;

width: 100%;
height: 100%;

background-color: #B0B0B0;
}

.scroll_thumb:hover {
background-color: #808080;
}

#hscroll_wrapper {
position: absolute;

width: 100%;
height: 10px;

left: 0px;
bottom: 5px;

padding-left: 5px;
padding-right: 15px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#hscroll_container {
position: absolute;

right: 0px;
bottom: 0px;

width: 85%;
height: 10px;

z-index: 500;
}

#hscroll_thumbtrack_wrapper {
width: 100%;
height: 100%;

padding: 0px 10px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#hscroll_left {
position: absolute;

left: 0px;
top: 0px;

background-image: url('../images/left.png');

width: 10px;
height: 10px;
}

#hscroll_left:hover {
background-image: url('../images/left_rollover.png');
}

#hscroll_right {
position: absolute;

right: 0px;
bottom: 0px;

background-image: url('../images/right.png');

width: 10px;
height: 10px;
}

#hscroll_right:hover {
background-image: url('../images/right_rollover.png');
}

#vscroll_wrapper {
position: absolute;

width: 10px;
height: 100%;

top: 0px;
right: 5px;

padding-top: 80px;
padding-bottom: 15px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#vscroll_container {
position: absolute;

right: 0px;
bottom: 0px;

width: 10px;
height: 100%;

z-index: 500;
}

#vscroll_thumbtrack_wrapper {
width: 100%;
height: 100%;

padding: 10px 0px;

-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}

#vscroll_up {
position: absolute;

left: 0px;
top: 0px;

background-image: url('../images/up.png');

width: 10px;
height: 10px;
}

#vscroll_up:hover {
background-image: url('../images/up_rollover.png');
}

#vscroll_down {
position: absolute;

right: 0px;
bottom: 0px;

background-image: url('../images/down.png');

width: 10px;
height: 10px;
}

#vscroll_down:hover {
background-image: url('../images/down_rollover.png');
}
