<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Azurite"
            id="edu.cmu.scs.azurite">
      </category>
      <view
            category="edu.cmu.scs.azurite"
            class="edu.cmu.scs.azurite.views.GraphViewPart"
            icon="icons/azurite.gif"
            id="edu.cmu.scs.azurite.views.GraphViewPart"
            name="Graph View">
      </view>
      <view
            category="edu.cmu.scs.azurite"
            class="edu.cmu.scs.azurite.views.TimelineViewPart"
            icon="icons/timeline_marker.png"
            id="edu.cmu.scs.azurite.views.TimelineViewPart"
            name="Timeline View"
            restorable="true">
      </view>
      <view
            category="edu.cmu.scs.azurite"
            class="edu.cmu.scs.azurite.views.CodeHistoryDiffViewPart"
            icon="icons/time_machine.png"
            id="edu.cmu.scs.azurite.views.CodeHistoryDiffViewPart"
            name="Code History Diff View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.cmu.scs.azurite.plugin.AzuriteStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#CompilationUnitEditorContext?after=additions">
         <menu
               label="Azurite">
            <command
                  commandId="edu.cmu.scs.azurite.ui.commands.undoInRegionCommand"
                  icon="icons/undo_in_region.png"
                  style="push">
            </command>
            <command
                  commandId="edu.cmu.scs.azurite.ui.commands.selectOperationsInRegionCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="edu.cmu.scs.azurite.toolbar1"
               label="Azurite Toolbar">
            <command
                  commandId="edu.cmu.scs.azurite.ui.commands.undoInRegionCommand"
                  icon="icons/undo_in_region.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="Azurite Menu"
               label="Azurite"
               mnemonic="z">
            <command
                  commandId="edu.cmu.scs.azurite.ui.commands.undoInRegionCommand"
                  icon="icons/undo_in_region.png"
                  style="push">
            </command>
            <command
                  commandId="edu.cmu.scs.azurite.ui.commands.selectOperationsInRegionCommand"
                  style="push">
            </command>
            <separator
                  name="edu.cmu.scs.azurite.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="edu.cmu.scs.fluorite.annotateCommand"
                  icon="icons/annotation.png"
                  style="push"
                  tooltip="Add an annotation to describe the current backtracking intention">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:edu.cmu.scs.azurite.views.TimelineViewPart">
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.readPreviousLog"
               icon="icons/previous.png"
               style="push">
         </command>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.launchCodeHistoryDiff"
               icon="icons/time_machine.png"
               style="push">
         </command>
         <separator
               name="edu.cmu.scs.azurite.separator1"
               visible="true">
         </separator>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.executeJSCode"
               icon="icons/old_go_first.png"
               label="Scroll to Start"
               style="push"
               tooltip="Scroll to Start">
            <parameter
                  name="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
                  value="translateX(0);">
            </parameter>
         </command>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.executeJSCode"
               icon="icons/old_go_previous.png"
               label="Scroll left"
               style="push"
               tooltip="Scroll left">
            <parameter
                  name="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
                  value="showBefore();">
            </parameter>
         </command>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.executeJSCode"
               icon="icons/old_go_next.png"
               label="Scroll Right"
               style="push"
               tooltip="Scroll Right">
            <parameter
                  name="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
                  value="showAfter();">
            </parameter>
         </command>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.executeJSCode"
               icon="icons/old_go_last.png"
               label="Scroll to End"
               style="push"
               tooltip="Scroll to End">
            <parameter
                  name="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
                  value="scrollToEnd();">
            </parameter>
         </command>
         <separator
               name="edu.cmu.scs.azurite.separator2"
               visible="true">
         </separator>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.executeJSCode"
               icon="icons/old_go_up.png"
               label="Scroll Up"
               style="push"
               tooltip="Scroll Up">
            <parameter
                  name="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
                  value="showUp();">
            </parameter>
         </command>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.executeJSCode"
               icon="icons/old_go_down.png"
               label="Scroll Down"
               style="push"
               tooltip="Scroll Down">
            <parameter
                  name="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
                  value="showDown();">
            </parameter>
         </command>
         <separator
               name="edu.cmu.scs.azurite.separator3"
               visible="true">
         </separator>
         <command
               commandId="edu.cmu.scs.azurite.ui.commands.refreshTimeline"
               icon="icons/refresh_red.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.UndoInRegionHandler"
            id="edu.cmu.scs.azurite.ui.commands.undoInRegionCommand"
            name="Undo Everything in Selected Region">
      </command>
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.SelectOperationsInRegion"
            id="edu.cmu.scs.azurite.ui.commands.selectOperationsInRegionCommand"
            name="Select Operations in Selected Region">
      </command>
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.ActivateFirebugLiteHandler"
            id="edu.cmu.scs.azurite.ui.commands.activateFirebugLiteCommand"
            name="Activate Firebug Lite">
      </command>
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.ReadPreviousLogHandler"
            id="edu.cmu.scs.azurite.ui.commands.readPreviousLog"
            name="Read Previous Log">
      </command>
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.ExecuteJSCodeHandler"
            id="edu.cmu.scs.azurite.ui.commands.executeJSCode"
            name="Execute Javascript Code">
         <commandParameter
               id="edu.cmu.scs.azurite.ui.commands.executeJSCode.codeToExecute"
               name="Code to Execute"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.RefreshTimelineHandler"
            id="edu.cmu.scs.azurite.ui.commands.refreshTimeline"
            name="Refresh Timeline">
      </command>
      <command
            defaultHandler="edu.cmu.scs.azurite.ui.handlers.LaunchCodeHistoryDiffHandler"
            id="edu.cmu.scs.azurite.ui.commands.launchCodeHistoryDiff"
            name="Launch Code History Diff">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.cmu.scs.azurite.ui.commands.activateFirebugLiteCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+F">
      </key>
   </extension>

</plugin>
